#contenidoProgramacion
{
  display: flex;
  /*flex-wrap: wrap;*/
  /*max-height: 100%;*/
  min-height: 65%;

}
#contenido
{
  min-height: 65%;
}
#contenidoProgramacion>.subContenidoDere
{
  /*display: flex;*/
  /*flex-direction: column;*/
  flex-basis: 55%;
  /*text-align: justify;*/
  max-height: 100%;
}
#contenidoProgramacion > .subContenidoIz
{
  /*display: flex;*/
  /*flex-direction: column;*/
  flex-basis: 45%;
  /*text-align: justify;*/
  max-height: 100%;
}
.fnd-verde
{
  background-color: #28a745;
}
.sofia-text
{
  /*font-family: Sofia, serif;*/
  font-weight: bold;
}
.ancho100
{
  width: 100%;
  max-width: 100%;
}

@media (max-width: 1248px) {
  #menu
  {
    display: none;
  }
  #btnSandh
  {
    display: block;
  }
}

@media (min-width: 1249px) {
  #btnSandh
  {
    display: none;
  }
  #menu
  {
    display: block;
  }
  #mySidebar,  #myOverlay
  {
    display: none;
  }
}

@media (max-width: 909px) 
{
  #contenidoProgramacion>.subContenidoDere, #contenidoProgramacion > .subContenidoIz
  {
    flex-basis: 100%;
    width: 100%;
  }
  #contenidoProgramacion
  {
    flex-direction: column;
  }
  #saltoNombre
  {
    padding-top: 2%;
  }
}


*
{
  box-sizing: border-box;
}

body, html
{
  /*overflow-y: scroll;*/
  height: 100%;
  padding: 0px;
  margin: 0px;
 
}

.no-seleccionable {
    user-select: none;
}

.img-hover-opacidad:hover {opacity: 0.9;}

.hover-shadow-sky:hover
{
  box-shadow: -1px -2px 51px 16px rgba(17,190,214,0.93);
  -webkit-box-shadow: -1px -2px 51px 16px rgba(17,190,214,0.93);
  -moz-box-shadow: -1px -2px 51px 16px rgba(17,190,214,0.93);
}