#contenido
{
  display: flex;
  /*flex-wrap: wrap;*/
  /*max-height: 100%;*/
  min-height: 65%;

}
#contenido>.subContenidoDere
{
  /*display: flex;*/
  /*flex-direction: column;*/
  flex-basis: 45%;
  /*text-align: justify;*/
  max-height: 100%;
}
#contenido > .subContenidoIz
{
  /*display: flex;*/
  /*flex-direction: column;*/
  flex-basis: 55%;
  /*text-align: justify;*/
  max-height: 100%;
}
.fnd-verde
{
  background-color: #28a745;
}
.sofia-text
{
  /*font-family: Sofia, serif;*/
  font-weight: bold;
}
/*.ancho100
{
  width: 100%;
  max-width: 100%;
}*/

@media (max-width: 1240px) {
  #menu
  {
    display: none;
  }
  #btnSandh
  {
    display: block;
  }
}

@media (min-width: 1240px) {
  #btnSandh
  {
    display: none;
  }
}

@media (min-width: 909px) 
{
  #contenido>.subContenidoDere, #contenido > .subContenidoIz
  {
    flex-basis: 100%;
  }
}


*
{
  box-sizing: border-box;
}

body, html
{
  /*overflow-y: scroll;*/
  height: 100%;
  padding: 0px;
  margin: 0px;
 
}