.fnd-verde
{
  background-color: #28a745;
}
.sofia-text
{
  /*font-family: Sofia, serif;*/
  font-weight: bold;
}
.ancho100
{
  width: 100%;
  max-width: 100%;
}

@media (max-width: 800px) {
  #menu
  {
    display: none;
  }
}