#myfooter
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 4%;
  min-height: 100%;
  max-height: 100%;
  margin-top: 1.5%;
}

#dispositivo:hover
{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
}
#dispositivo
{
  min-height: 35%;
}

